.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    
}
.service-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;

}
.service-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid aqua;
    transition: 0.4s;
    cursor: pointer;


}
.service-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap:40px;
    margin-bottom: 80px;


}
.service-format h3{
    font-size: 20px;
    font-weight: 600;

}
.service-format h2{
    font-size: 22px;
    font-weight: 800;
    background: linear-gradient(90deg,rgba(22, 172, 55, 0.781) 0.36%, rgb(0, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.service-format p{
    color: whitesmoke;
    font-size: 1em;
    line-height: 25px;
    max-width: 500px;

}
.more{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.more img{
    background-color: aqua;
    border-radius: 15px;
}
.service-format:hover{
    border: 2px solid rgba(0, 255, 13, 0.404);
    background-color: rgba(0, 255, 255, 0.192);
    transform:scale(1.05);
    transition: 0.4s;
  
}
.more:hover{
    gap: 25px;
    transition: 0.4s;
}
