.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 150px; 
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(90deg,rgba(22, 172, 55, 0.781) 0.36%, rgb(0, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 600px;
    color: aliceblue;
    font-size: 20px;
    line-height: 35px;

}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 30px;
    background: rgba(1, 41, 1, 0.452);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
}
.contact-right label{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 500px;
    height: 70px;
    padding-left: 20px;
    border-radius: 4px;
    background: rgba(19, 107, 107, 0.747);
    color: whitesmoke;
    font-family: outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 500;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: rgba(19, 107, 107, 0.747);
    color: whitesmoke;
    font-family: outfit;
    font-size: 20px;


}
.info-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(90deg,rgba(22, 172, 55, 0.781) 0.36%, rgb(0, 255, 255) 100%);
    font-size: 22px;
    padding: 15px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;

}
.info-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;

}