.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgb(1, 14, 1);
    border-radius: 10px;
    padding: 10px;
   

}
.footer-top-left img{
    width: 50px;
    border-radius: 25px;

}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size:15px ;
    max-width: 400px;
}
.email-input{
    display: flex;
    align-items: center;
    display: flex;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    background: rgba(19, 107, 107, 0.747);
    padding-right: 80px;
}
.email-input:hover{
    border: 2px solid green;
}
.footer-top-right{
    display: flex;
    align-items: center;
}
.footer-top-right img{
    width: 40px;
}


.footer-top-right input{
    outline: none;
    border: none;
    background: transparent;
    color: whitesmoke;
    font-family: outfit;
    font-size: 15px;

}
.subscribe{
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 50px;
    background: linear-gradient(90deg,rgba(22, 172, 55, 0.781) 0.36%, rgb(0, 255, 255) 100%);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;

}
.subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    

}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
@media (Max-width:768px){
    .footer{
        margin: 20px 20px;
        display: flex;
        flex-direction: column;}
    .subscribe{
        font-size: 14px;
        padding: 9px 33px;
    }
    .email-input{
        padding: 0px 19px;
        padding-right: 10px;
    }
       
    
}
